.wrapper{
    font-family:sans-serif ;
    text-align:center;
    color:grey;
    width:100%;
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-image: url("../css/Screenshot\ 2023-08-05\ at\ 1.36.02\ AM.png");
    
    background-size:cover;
    background-position: center;
    background-attachment: fixed;

}
h1{
    font-weight:800;
    font-size :3rem;

}
p{max-width:52ch;
    line-height:fit-content;
    padding:1em;
}

.blank{
    width:100%;
    height:60vh;
    background-color: brown;
}
.first{
    background-image: url("../css/Screenshot\ 2023-08-05\ at\ 1.36.02\ AM.png");
    background-attachment: fixed;
    /* height:500px; */

}
.second{
    background-image: url("../css/Screenshot\ 2023-08-05\ at\ 12.22.48\ AM.png");
    background-attachment: fixed;
    height:800px;
    display:flex;
    direction: column;

}
.imgContainer{
    display:flex;
    direction: column;
}
.imgC1{
    display:flex;
    direction: row;
    padding-bottom: 11vh;
}
.img{
    padding-left: 3vh;
    padding-right: 3vh;
}
.imgC3{
    display:flex;
    direction: row;
    padding-bottom: 15vh;
}
.item{
    padding-bottom: 11vh;
    display:flex;
    direction: row;
}
.item2{
    padding-bottom: 11vh;
    display:flex;
    direction: row;
}
.imgSize{
    width:332px;
    height:214px;
}